@import "./partials/variables.scss";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  //   font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-family: $font-text;
}

html {
  font-size: 62.5%;
}

.container {
  width: 90%;
  margin: 0 auto;
}
